@font-face {
    font-family: 'Inter-Regular';
    src: local('Inter-Regular'), url('../../fonts/Inter/static/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'NotoSans-Light';
  src: local('NotoSans-Light'), url('../../fonts/NotoSansJP/NotoSansJP-Light.otf') format('opentype');
}